@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.near-recommend::after {
  position: absolute;
  left: 125px;
  right: 0px;
  top: 12px;
  height: 1px;
  background: #e0e0e0;
  content: "";
}

.place-img-div .place-img:not(:last-child) {
  margin-right: 8px;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

*::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll-container {
  padding-right: 4px
}

@media screen and (max-width: 1024px) {
  .place-info {
    flex-direction: column;
  }

  .near-recommend::after {
    left: 105px;
  }
}

.customOverlay::after {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FEFEFE;
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}

.custom-overlay-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-shadow: rgb(255, 255, 255) -1px 0px, rgb(255, 255, 255) 0px 1px, rgb(255, 255, 255) 1px 0px, rgb(255, 255, 255) 0px -1px;
  text-align: center;
  letter-spacing: -0.1px;
  color: rgb(0, 0, 0);
  max-width: 120px;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-height: 1100px) {
  .category-button {
    font-size: 12px;
  }
}