@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.near-recommend::after {
  position: absolute;
  left: 125px;
  right: 0px;
  top: 12px;
  height: 1px;
  background: #e0e0e0;
  content: "";
}

.custom-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
}

.custom-scroll-container::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll-container {
  padding-right: 4px
}

.customOverlay::after {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FEFEFE;
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
}